* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;

    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.volume > label {
    display: flex;
    gap: 8px;
    align-items: center;
}

.fps {
    width: 200px;
    font-family: monospace;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;


    position: absolute;
    top: 0;
    right: 0;

    padding: 8px;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    padding: 8px;
    flex-direction: column;
    gap: 8px;
}