* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;

    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.volume {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fps {
    width: 175px;
    font-family: monospace;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    position: absolute;
    padding: 8px;
    top: 0;
    right: 0;
}